.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.button{
    width: 55px;
    height: 45px;
    margin: 3px;
    background-color: burlywood;
    font-weight: bold;
}